.movieCard {
  border-radius: 0.75rem;
  overflow: hidden;
  background-color: var(--bg-secondary);
  transition: all 0.3s ease;
  animation: slideIn 1.5s ease;

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px var(--shadow);
  }
}

.cardLink {
  display: block;
  width: 100%;
  height: 100%;
}

.posterContainer {
  position: relative;
  width: 100%;
  padding-top: 150%;
  overflow: hidden;
}

.poster {
  object-fit: cover;
  transition: transform 0.3s ease;
}

.movieCard:hover .poster {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  transition: opacity 0.3s ease;
  padding: 1rem;
}

.info {
  padding: 1rem;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-primary);
  margin-bottom: 0.5rem;
  // For text overflow
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.year {
  font-weight: 500;
}

@keyframes slideIn {
  0% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0);
  }
}